<div class="geoposition-widget" data-map-widget-height="{{ config.map_widget_height }}" data-map-options="{{ config.map_options }}" data-marker-options="{{ config.marker_options }}">
    <div class="geoposition-widget-inner">
        <div class="geoposition-input-wrapper geoposition-latitude-input-wrapper">
            {% if latitude.widget %}
                {% include latitude.widget.template_name with widget=latitude.widget %}
            {% else %}
                {{ latitude.html }}
            {% endif %}
        </div>
        <div class="geoposition-input-wrapper geoposition-longitude-input-wrapper">
            {% if longitude.widget %}
                {% include longitude.widget.template_name with widget=longitude.widget %}
            {% else %}
                {{ longitude.html }}
            {% endif %}
        </div>
    </div>
</div>
